{% extends 'main/main.html' %}

{% block title %}Главная{% endblock %}

{% block content %}
    <div class="features">
      <h1>{{ title }}</h1>
      <p>Мы оказываем услуги по чистке подушек из пуха и пера (чистка, стирка (аквачистка) подушек, перин, реставрация одеял из пуха и пера) с 2002 года.С 2006 году наше производство сертифицировано (Сертификат №BY/112 04.04.019 00454) в соответствии с требованиями стандарта СТБ 151-2001.Мы используем немецкое оборудование фирмы Лорх – мирового лидера по производству машин для чистки пуха и пера. Это оборудование позволяет предложить Вам несколько видов услуг по чистке подушек, перин и одеял из пуха и пера:аквачистку (стирку) подушек, сухую паровую чистку подушек , сортировку смеси пухо – перового наполнителя.</p>
    </div>
{% endblock %}
