body {
  background: #FFFFFF;
}

aside {

  position: absolute;
  float: left;
  background: #00A1FC;
  height: auto;
  width: auto;
  padding: 2.5%;
  height: 100vh;
  color: #fff;


}

aside img {
  position: absolute;
  height: auto;
  width: auto;
  float: left;

}


aside p {
  margin-top: 185px;
  font-size: 35px;
  border-top: 5px solid #21759B;
  border-bottom: 5px solid #21759B;
  position: fixed;
  font: 3em Arial, sans-serif;
  text-shadow: rgb(0, 0, 0) 0 0 7px;

}

aside ul {
  list-style: none;
  margin-top: 360px;
  border-left: 5px solid #21759B;
}

aside ul li {
  color: #fff;
  margin-top: 25px;
  display: block;
  transition: transform .6s ease;

}

aside ul li:hover, aside ul a {
  color: #000000;
  text-decoration: none;
  transform: scale(1.05);
}

main .features {
  float: left;
  color: black;
  margin-top: 100px;
  text-align: center;
  width: 110%;
  
}

main .features h1 {font-size: 50px;}
main .features p {max-width: 400px; margin: 20px auto;}

.alert-warning {
  float: left;
  clear: both;
  width: 400px;
  margin: 20px 34%;
  text-align: left;
}

form {
  margin-left: 32%;
  margin-top: 50px;
  width: 500px;
}

